extends ../base.pug

block content
  include ../partials/header
  .container.login__container
    .login
      include ../partials/title
      span.error-message= errorMessage
      form.login__form(method='POST')
        input.login__email(
          name='email',
          type='text',
          placeholder='Email',
          required
        )
        input.login__password(
          name='password',
          type='password',
          placeholder='Password',
          required
        )
        input.login-btn(type='submit', value='Login')
      a.login__join(href='../join') Create a new account
      a.login__find-account(href='#') Find your account or password

  include ../partials/footer
