extends ../base

block content
  include ../partials/header
  .container.my-info__container
    .my-info
      .big3__header
        span.big3__title What are your big 3?
        .big3__sum
          span #{ squat + benchPress + deadLift }
          span.unit-weight kg
      .big3__contents
        .big3__squat
          span Squat
          .my-records
            span= squat
            span.unit-weight kg
        .big3__bench-press
          span Bench press
          .my-records
            span= benchPress
            span.unit-weight kg
        .big3__dead-lift
          span Dead lift
          .my-records
            span= deadLift
            span.unit-weight kg

      span.my-body__header My body
      .my-body__contents
        .my-body__height
          span Height
          .my-records
            span= height
            span.unit-length cm
        .my-body__weight
          span Weight
          .my-records
            span= weight
            span.unit-weight kg
        .my-body__skeletal-muscle-mass
          span Skeletal muscle mass
          .my-records
            span= skeletalMuscleMass
            span.unit-weight kg
        .my-body__body-fat-mass
          span Body fat mass
          .my-records
            span= bodyFatMass
            span.unit-weight kg
        .my-body__percent-body-fat
          span Percent body fat
          .my-records
            span= percentBodyFat
            span.unit-percent %

      span.target__header Target
      .target__contents
        .target__weight
          span Weight
          .my-records
            span= targetWeight
            span.unit-weight kg
        .target__skeletal-muscle-mass
          span Skeletal muscle mass
          .my-records
            span= targetSkeletalMuscleMass
            span.unit-weight kg
        .target__percent-body-fat
          span Percent body fat
          .my-records
            span= targetPercentBodyFat
            span.unit-percent %

  include ../partials/navbar
